<p id="notice"><%= notice %></p>

<h1 class="m-3 ">Words of the Day</h1>

<!-- <div class="row"> -->

<div class="card-columns cardwrapper ">
  <% @wordbanks.each do |wordbank| %>
  <div class="card border-primary mb-5">
    <div class="card-header">
      <h5 class="card-title"><%= wordbank.topic.upcase %></h5>

    </div>
    <p class="card-text p-2">"<%= wordbank.description %>"
    </p>
    <div class="buttons p-3 ">

      <%= link_to edit_wordbank_path(wordbank) do %>
      <button class="btn btn-success mr-3"> Edit </button>
      <% end %>

      <%= link_to wordbank, method: :delete, data: { confirm: 'Are you sure?' } do %>
      <button class="btn btn-danger"> Delete </button>
      <% end %>
    </div>

    <div class="card-footer">
      <small class="text-muted">Created on <%= wordbank.created_at %></small>
    </div>
    <!-- #.striftime("%j-%m-%y: %I:%M %p") -->
  </div>
  <% end %>
</div>


<br>

<%= link_to 'Add a new Word of the Day', new_wordbank_path %>